@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300&display=swap');

.headline {
  font-size: 250%;
}

.prose {
  font-size: 120%;
}  

div {
  font-family: 'JetBrains Mono', monospace;
  font-weight: normal;
  display: block;
  line-height: 1.7;
  margin-top: 20px;
  margin-left: 20px;
}
