@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300&display=swap');

div {
  font-family: 'JetBrains Mono', monospace;
  font-size: 100%;
  max-width: 750px;
  font-weight: normal;
  display: block;
  line-height: 1.7;
  margin-top: 20px;
  margin-left: 34px;
  margin-right: 34px;  
}
